<form class="" action="/podcasts" method="post">
  <label for="title">
    <input type="text" name="title" value="">
  </label>
  <label for="description">
    <input type="text" name="description" value="">
  </label>
  <label for="network">
    <input type="text" name="network" value="">
  </label>
</form>
